*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
}

/**********************************/
/*            Header              */
/**********************************/
header{
    max-width: 100%;
    overflow: hidden;
}
/* .header__container{
    height:100%;
} */
.header__container{
    color: rgb(255, 255, 255);
    /* automatically vertical centered by class 'valign-wrapper' + flex */
    justify-content: center;

    background: linear-gradient(to top, #0d47a1, #2196f3, #a3ddff );
	background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}
.header__intro:not(.header__intro--name) {
    height: 100vh;
}
.header__intro--greet,
.header__intro--name{
    /* height: 100vh; */
    font-size: 10rem;
}
.hands{
    animation: shake 3s ease-in-out infinite;
    /* transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1); */
}

.header__intro--greet{

    /* automatically vertical centered by class 'valign-wrapper' + flex */
    justify-content: center;
}
.header__intro--name{
    color: #fff;
    padding-top: 10rem;
}
.header__intro--location,
.header__intro--career{

    font-size: 5rem;
    padding: 4rem;

}
.header__intro--location{
    position: relative;
}
.header__intro--location *{
    position: absolute;
    /* top:0; */
}
.header__layout {
    position: absolute;
    width:100%;
    top:0;
}
.header__layout--1 {
    /* color: #ffcc80; */
    /* color: #c2c2c2f5; */
}
.header__layout--2 {
    /* color: #fb8c00 ; */
    /* color: #919191 ; */
}
.header__layout--3 {
    /* color: #e65100 ; */
    /* color: #272727 ; */
}
.header__deco{
    width: 100%;
    height: 100%;
}
.header__deco--square1{
    width: 20rem;
    height: 20rem;
    /* background-color: #555; */
    
}
.header__deco--square2{
    width: 10rem;
    height: 10rem;
    /* background-color: #555; */
    margin-left: 20%;
}
.header__deco--square3{
    width: 10rem;
    height: 10rem;
    /* background-color: #555; */
    /* margin-left: 20%; */
}
.header__deco--square4{
    /* width: 20rem;
    height: 20rem; */
    /* background-color: #555; */
    margin-left: 50%;
    font-size: 10rem;
}
.header__skill{
    width: 100%;
    height: 100%;
    font-size: 7rem;
    /* top:50%;
    left:50%;
    transform: translate(-50%,-50%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__skill *{
    position: relative;
}
.header__skill--icon{
    font-size: 15rem;
    display:flex;
    /* width:100%; */
}
.header__skill--icon :first-child {
    margin-right: 10rem;
}
.header__skill--text{
    font-size: 4rem;
    background-image: linear-gradient(to right bottom, rgb(251, 255, 0),rgb(255, 123, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}
.header__intro--career p{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: .75em;
}
#header__top {
    transform: translateX(20rem);
    background-color: yellow;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.header__deco--like :last-child{
    font-size: 15rem;
    padding-left: 10%;
}
.header__deco--like :first-child{
    /* font-size: 15rem; */
    padding-left: 12%;
}
@keyframes gradientBG {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}
@keyframes shake {
	0% {
		transform:rotate(0deg);
	}
	50% {
		transform:rotate(50deg);
    }
    /* 80% {
		transform:rotate(0deg);
	} */
	100% {
		transform:rotate(0deg);
	}
}
@media only screen and (max-width: 992px){
    .header__intro--greet,
    .header__intro--name{
    /* height: 100vh; */
    font-size: 5rem;
}
}
/**********************************/
/*            Side Nav            */
/**********************************/

.background {
    height: 30rem;
    position: relative;
}
.profileInfo {
    position: absolute;
    top:25rem;
    left:0;
    display: flex;
    flex-direction: column;
    line-height: 1.75;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.863);
    background-color: rgba(34, 34, 34, 0.267);
    padding: 0 3rem;
}
.background img{
    width: 100%;
    height: auto;
}
#divider-nav {
    background-color: rgb(0, 162, 255);
    margin-top: 5px;
    height: 3px;
}
/* section { 
    height: 100vh;
} */
.currentMenu *{
    color: rgb(0, 162, 255) !important;
}

/**********************************/
/*   Top Nav(hidden in desktop)   */
/**********************************/
@media only screen and (min-width: 993px){
    .navbar-fixed{
        display: none;
    }
}
nav{
    width: 100vh;
}
nav,
.nav-wrapper{
    width:100vw !important;
}
/**********************************/
/*               Main             */
/**********************************/

main{
    /* Offset for content next to side nav */
    padding-left: 300px;
    width: 100%;
  }
.section__header{
    background-color: rgb(0, 162, 255);
    color: #fff;
    padding: 3rem 3rem 3rem 3rem;
    margin: 0;
}
.section__container{
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    
}
/* .section__container::before{
    content: '|';
    color: rgb(0, 162, 255);
    font-size: 5rem;
    position: absolute;
    top: -22px;
    left: -3px;
} */
.section__container h3{
    padding-left: 1rem;
    margin: 5rem 0;
}
/* ABOUT */
.section__description{
    font-size: 1.7rem;
}
.section__description p:not(:last-child){
    margin-bottom: 2rem;
}
/* SKILLS */
.section__slot{
    /* border: 1px blue solid; */
    margin: 0 0 3rem 1rem;
}
.section__slot--title{
    /* text-decoration: underline blue solid; */
    color: rgb(94, 94, 94);
}
.section__slot img{
    width: 6rem;
    margin-right: 3rem;
}

/* PROJECTS */

.carousel {
    height: 100rem;
    transform: translateY(-40rem);
}
.carousel-item{
    width: 40rem !important;
    /* padding: 10rem; */
    margin: 0 auto;
    /* transform: translateY(0) !important; */
}

.card{
    width: 40rem;
}
.card-header{
  display:flex;
  align-items: center;
  margin-bottom: 2rem;
}
.card-header :first-child{
    margin-right: 2rem;
}
.card-content{
    padding-bottom: 0 !important;
    font-size: 1.6rem;
}
.card-link{
    border-top: rgb(197, 197, 197) 1px solid;
    display:flex;
    justify-content: flex-start;
    padding: 2rem 0;
    align-items: center;
    /* padding-left: 0; */
}
.card-link > *{
    margin-right: 3rem;
}
.card-link a{
    color: rgb(0, 162, 255);
}
.card-header--team,
.card-header--sole,
.card-tag span{
    background-color: rgb(0, 162, 255);
    padding: 3px 5px;
    color: #fff;
    border-radius: 10%;
    font-size: 1.3rem;
}
.card-header--team{
    background-color: rgb(255, 115, 0);
}
.card-header--sole{
    background-color: rgb(0, 128, 11);
}
.card-tag{
    margin: 1rem 0;
}
.card-image{
    height: 20rem;
    overflow: hidden;
}
@media only screen and (max-width : 992px) {
    header, main {
        padding-left: 0;
    }
}
/* Experience */

.card.wide{
    width:100%;
}
.card-reveal li{
    list-style-type: square !important;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.play-btn {
    color: #fff !important;
    /* text-align: center; */
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 162, 255);
    border-radius: 2%;
    position: relative;
    /* display: block; */
    box-shadow: 0px 0px 25px 3px rgba(0, 110, 255, 0.8);
  }
.play-btn > p{
    height: 100%;
    text-align: center;
    /* padding: 3rem; */
}
  /* pulse wave */
.play-btn:before {
    content: "";
    position: absolute;
    width: 170%;
    height: 170%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 0%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -35%;
    left: -35%;
    background: rgba(198, 16, 0, 0);
  }
  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(.8);
      transform: scale(.8);
      opacity: 0;
      box-shadow: none;
  
    }
  }
  
  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(.8, .8);
      transform: scale(.8);
      opacity: 0;
      box-shadow: none;
  
    }
  }

.halfway-fab{
    border-radius: 0;
}
.card-highlight{
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(68, 68, 68);
    color: #fff;
}
/* border animation */
.gradient-border {
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #4fbeff, #4cb4fa, #0051ff);
    /* background: linear-gradient(60deg, rgb(191, 242, 255),#87d1fc, #4fbeff, #4cb4fa, #0051ff); */
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    -webkit-animation: animatedgradient 3s ease alternate infinite;
            animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @-webkit-keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  /* Education */
.card-left{
    width: 30rem;
}
.card-img-edu{
      width: 10rem;
      margin: 1.5rem auto 0 auto;
  }

.card-restyle-edu{
    box-shadow: none;
    border-left: 2px rgb(0, 162, 255) solid;
    margin-top: 0;
    margin-bottom: 0;
}

.moving-icon{
    transform: translate(-2rem,1rem);
}
.icon-bg{
    background-color: rgb(255, 255, 255);
}
.ta img{
    width: 15rem;
    margin-right: 1rem;
    border-radius: 50%;
}
.comment{
    display: flex;
    font-size: 1.5rem;
}

/* Contact */
.contact-info{
    margin: 0 auto 3rem 4rem;
}
.contact-info > *{
    display: flex;
    align-items: center;
    font-size: 1.75rem;
}
.contact-info > svg{
    width: 5rem;
}

.icon {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 2rem;
  }


/* UTILITY */
.height-100vh{
    height: 100vh;
}
.no-margin{
    margin:0;
}
.inside-center{
    display: flex;
    justify-content: space-between;
}
.max-width{
    width: 100% !important;
}
.margin-top-3{
    margin-top: 3rem;
}
blockquote{
    border-left-color:rgb(0, 162, 255);
}
.line-height-m{
    line-height: 1.75;
}
/* .front{
    position: relative;
    z-index: 100;
}
.behind{
    position: relative;
    z-index: -100;
} */